@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }
    nav ul {
        list-style-type: none;
        display: block;
        list-style-type: none;
        margin-top:5%;
        padding: 0;
        overflow: hidden;
       /* background-color: #314047;*/
        padding-top: 5%;
        padding-bottom: 5%;   
    }
    nav ul li {
    }
    nav ul li a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border: solid white 1px;
        width:auto;
        background-color: #314047;

    }
    nav ul li.active a {
        background-color: #B0B0B0;
        color: white;
    }
    nav ul li a:hover {
        background-color: #B0B0B0;
    }
    .forecast {
        display: inline-block;
        max-width: 80%;
        margin: 0 auto;
        justify-content: center;
        border: solid black 1px;
        background: #314047;
        margin-left: 14%;
        margin-right: 14%;
    }
    .forecast td {
        padding: 2%;
        justify-content: center;
    }
    .galleryimages {
        max-height: 300px;
    }
    /* hamburger button does not need to be shown */
    /*   section.forecast {
        display: flex;
    }
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
    }
    /* header h1 {
        font-family: "Righteous";
        font-size: 4em;
    }
    header .subheading {
        font-size: 2em;
        line-height: 1em;
    }
    /* responsive images */
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-rows: 100px;
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        margin: auto;
        padding: 2%;
    }
    .galleryimages {
        max-height: 300px;
    }
}
