body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    background:#EAF7DE;
}

h1{
    font-family: 'Anton', sans-serif;
    color:#2D3922;
    font-size: 
}

h2{
    font-family: 'Anton', sans-serif;
    color:#2D3922;    
}

nav{
    background-color: #2D3922;
    color:#EAF7DE;
    margin:none;
    padding:none;
}

footer{
    background-color: #2D3922;
    color:#EAF7DE;
}

.button{
    
}

.medhomepic{
    
}

.homearticle1{
    
}

.homearticle2{
    
}

.homegallerydiv{
    
}

.homegallery{
    
}