/*This is the CSS for EVERYTHING*/

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    background: #EAF7DE;
}

nav {
    background-color: #2D3922;
    color: #EAF7DE;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #EAF7DE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1E2617;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #2D3922;
    font-size: 3rem;
}

h2 {
    font-family: 'Anton', sans-serif;
    color: #2D3922;
    font-size: 2rem;
    text-decoration: underline;
}

footer {
    background-color: #2D3922;
    color: #EAF7DE;
    margin-bottom: none;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 14px;
}

a {
    color: #EAF7DE;
    text-decoration: none;
}

nav ul li.active a {
    color: #EAF7DE;
    text-decoration: none;
}


/* This is CSS for the HOME PAGE*/

.spanhomeimage {
    max-width: 100%;
    margin: none;
    padding: none;
}

.homepage {
    margin: 2% 10%;
}

.container {
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-45%, -25%);
    width: 35%;
}

.header {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-20%, -40%);
    font-size: 1.5rem;
    color: #EAF7DE;
}

.subheading {
    display: none;
    color: #2D3922;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-85%, -50%);
    font-size: 1rem;
}

.button {
    position: absolute;
    border: solid #EAF7DE 2px;
    background: #2D3922;
    color: #EAF7DE;
    bottom: 10%;
    right: 5%;
    padding: 1%;
}

.topgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6px;
    grid-auto-rows: (100px, auto);
    margin: 2% 0;
}

.medhomepic {
    display: none;
    grid-column: 1/3;
    grid-row: 1/4;
}

.homearticle1 {
    border: solid #2D3922 1px;
    grid-row: 1/2;
    grid-column: 1;
    padding: 8px;
}

.homearticle2 {
    border: solid #2D3922 1px;
    grid-row: 2/2;
    grid-column: 1;
    padding: 8px;
}

.homegallerydiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6px;
    grid-auto-rows: (100px, auto);
}

.homegallery {
    width:170px;
}

.articlelinks{
    color:#2D3922;
    text-decoration: underline;
}

}

/*CSS for EVENTS PAGE*/
.registerbutton {}
.regularlist li {
    float: none;
    display: block;
}
.eventpage {
    margin: 2% 10%;
}

/*CSS for ADVENTURE TOUR*/
.ba {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 6px;
    grid-auto-columns: (100px, auto);
    margin: 2% 10%;
}
.ba1 {
    grid-row: 1/2;
}
.ba2 {
    grid-row: 2/2;
}

/*CSS for CONTACT PAGE*/
.contactbody {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-columns: (100px, auto);
    margin: 2% 10%;
}
.column1 {
    grid-column: 1/2;
    width: 80%;
}
.column2 {
    grid-column: ;
    width: 60%;
}

/*CSS for REGISTRATION PAGE*/
.registrationpage {
    margin: 2% 10%;
}

/*CSS for SALES PAGE*/
/*.salesgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: (100px, auto);
    margin: 2% 10%;
}
.homegallery {
    grid-column:
}
*/

.accordion{
    margin:2% 10%;
}

.salespic{
    width: 100%;
}

/*CSS for SERVICE PAGE*/
.servicepage {
    margin: 2% 10%;
}

/*HAMBURGER DISPLAY*/
.hamburger {
    display: block;
    position: absolute;
    top: 2.0rem;
    right: 1.25rem;
}
.navigation {
    list-style: none;
    padding-left: 0;
}
.navigation li {
    display: none;
}

/* When the responsive class is added to the unordered list on hamburger button click 
placed in a media query in order to accomodate the toggle when in wider view*/
@media only screen and (max-width: 37.5em) {
    .navigation.responsive {
        position: relative;
    }
    
    .navigation.responsive li {
        background-color: #2D3922;
        display: block;
        width: 100%;
        margin: 2px 0;
        border: 1px solid #EAF7DE;
    }
    
    .navigation.responsive li a {
        padding: 1rem;
        text-align: center;
        display: block;
        text-decoration: none;
    }
    
    .navigation.responsive li a:hover {
        background-color: #1E2617;
    }
}

/* The following can be used in lieu of a button with a HTML entity which may not be dispalyed correctly in all browsers - or a SVG option is good - button size issue
.hamburger { 
    content: "";
    position: absolute;
    right: 1.5rem; top: 1.8rem;
    display: block;
    width: 1.25rem; height: 0;
    -webkit-box-shadow: 1px 10px 1px 1px #eee,1px 16px 1px 1px #eee,1px 22px 1px 1px #eee;
    box-shadow: 0 10px 0 1px #eee,0 16px 0 1px #eee,0 22px 0 1px #eee;
}*/
@media only screen and (min-width: 37.5em) {
    .hamburger {
        display: none;
    }
    
    .navigation {
        overflow: hidden;
        text-align: center;
    }
    
    .navigation li {
        display: inline-block;
    }
    
    .navigation a {
        display: block;
        text-align: center;
        text-decoration: none;
    }
    
    .navigation a:hover {}
}

/*SUBMIT BUTTON*/
input.submitBtn {
    -webkit-appearance: none;
    display: block;
    color: #EAF7DE;
    border: #1E2617 solid 1px;
    border-radius: 7px;
    width: 50%;
    margin: .5em 0;
    font-size: 1em;
    padding: .6em;
    padding-bottom: 1.2em;
    background: #2D3922;
    box-shadow: 4px 4px 10px #666;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.registerbutton {
    -webkit-appearance: none;
    display: block;
    color: #EAF7DE;
    border: #1E2617 solid 1px;
    border-radius: 7px;
    width: 50%;
    margin: .5em 0;
    font-size: 1em;
    padding: .6em;
    padding-bottom: 1.2em;
    background: #2D3922;
    box-shadow: 4px 4px 10px #666;
    justify-content: center;
}
