* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Sansito', Ubuntu, sans-serif;
}

h1,h2,h3 {
    color: #7c8855;
}

h1 {
    font-size: 2em;
}

header {
    background-color: #a3bb49;
    padding: .5rem;
    text-align: center;
    color: #fff;
}

main {
    min-height: 5px;
}

main img {
    width: 128px;
    height: auto;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
    background-color: #a3bb49;
    color: #fff;
    font-size: .8rem;
}


/* Class Selectors *******************/

.profile {
    border: 7px solid #777;
    margin: 1em;
}
